video {
	border: 1px solid black;
	height: 300px;
	width: 300px;
}

.canvasContainer {
	height: 300px;
	position: relative;
	width: 300px;
}

.canvasContainer canvas {
	border: 1px solid black;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}